/* Table of Content

	Base
* Utilities
* Keyframes
* Constant Telephone Icon
* Frontpage Hero
* Frontpage Welcome
* Frontpage Services
* Frontpage Testimonials
* Frontpage Galleries
* Portfolio Gallery Page
* Single Service Template
* Single Block Template
* Footer

	Extra Small Devices
* Frontpage Hero

	Medium Devices
* Medium Frontpage Testimonials
* Medium Frontpage Galleries
* Medium Block Template

	Large Devices
* Large Frontpage Welcome
* Large Frontpage Testimonials
* Large Single Service Template
* Large Frontpage Galleries
* Portfolio Gallery Page
*/

/* Utilities*/

/**
 * ----------------------------------------
 * animation bouncing
 * ----------------------------------------
 */
 @-webkit-keyframes bounce {
	0%,
	20%,
	27.5%,
	32.5%,
	40%,
	60%,
	80%,
	100% {	
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	25% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	30% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	27.5%,
	32.5%,
	40%,
	60%,
	80%,
	100% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	25% {
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	30% {
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}


body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	color: #333;
}
h1 {
	font-family: 'Lora', serif;
	font-size: 34px;

} 
h2 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 32px;
}

/* Header content centered */
h1.navbar-brand {
	font-size: 20px;
	line-height: 1.2;
}
.header-color {
	background-color: #849D7A; /*sage green*/
}
.header-content {
	position: absolute;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.5;
	margin-right: auto;
	margin-left: auto;
	top: 48%;
	left: 50%;
	transform: translate( -50%, -50%);
}
.header-content .slogan {
	background: linear-gradient(
		to right, 
		rgba(255, 230, 255, 0),
		rgba(50, 50, 50, .4) 14%,
		rgba(50, 50, 50, .7) 50%,
		rgba(50, 50, 50, .4) 87%,
		rgba(255, 230, 255, 0) 100%
		);
	color: white;
	line-height: 1.5;
	margin-bottom: 15px;
	min-width: 250px;
	/*text-shadow: 0 0 1px 1px rgba(0,0,0,.3);*/
	text-shadow: 1px 1px 1px #555, 0 1px 1px #555, 1px 0 1px #555;
	padding: .5rem 35px;
}

/* Constant Telephone Icon */
.telephone-content {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	background-color: #FFEEC6;
	z-index: 45;
	cursor: pointer;
	height: 60px;
	width: 210px;
	border-radius: 35px;
	transition: transform 0.3s ease-out;
	transform: scaleX(1);
	transform-origin: left;
	z-index: 10;
}
.telephone-icon {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	z-index: 15;
	cursor: pointer;
}
.telephone-content.telephone-small {
	transform: scaleX(.29);
	border-radius: 50%;
}
.telephone-icon.icon-small {
	left: 1.75rem;
}
.telephone-content-wrapper {
	position: relative;
}
.telephone-toggle-content {
	position: absolute;
	left: 80px;
	top: 9px;
}
.telephone-content.telephone-small .telephone-toggle-content {
	display: none;
}
/* Arrow Down Button */
.bounce {
	display:none;
}
/* Frontpage Hero */
#hero {
	height: 50vh;
	background: center no-repeat url('/espy/wp-content/uploads/2018/08/kitchen-hero.jpeg');
	background-size: cover;
	position: relative;
}
h1.slogan {
	font-size: 28px;
}

/* Frontpage Welcome */
#frontpage-welcome {
	display: flex;
	justify-content: center;
	background: center url('/espy/wp-content/uploads/2018/08/damask-seamless-web.jpg');
	background-size: contain;
	margin-left: -15px;
	margin-right: -15px;
}
#frontpage-welcome-text{
	max-width: 90%;
	background-color: #849D7A;
	color: #FFEEC6;
	font-size: 19px;
	border-radius: 10px;
	padding: 6% 3% 0 3%;
	margin: 8% auto;
}
#frontpage-welcome-text span{
	font-size: 25px;
	font-family: "Lora", serif;
	line-height: .75;
}

/* Frontpage Services */
#fp-services-grid {
	color: #FFEEC6;
	max-width: 1250px;
	margin-right: auto;
	margin-left: auto;
}
.fp-service-item {
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
}
.fp-service-item img {
	width: 100%;
	height: auto;
	transition: all .3s ease-in-out;
	position: relative;
	top: 0;
}
/* Default sizing */
.fp-service-item,
.fp-service-item--height2,
.fp-service-item--width2 {
	width: 100%;
	height: 175px;
}
/* fp service content */
.fp-service-item .service-image {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.service-image:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 20px;
	bottom:20px;
	left: 20px;
	background-color: rgba(60, 46, 61, 0.5);
}
.fp-service-item .service-header {
	font-size: 31px;
}
/*hover action*/
.fp-service-item:hover img {
	transform: scale(1.1);
	transition: all .5s ease-in-out; 
}
.fp-service-item .service-header {
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	position: absolute;
	text-align: center;
}

/*----- Frontpage Testimonials */
#frontpage-testimonials {
	padding: 3% 0 2%;
}
#fp-testimonials-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 2rem 0;
}
.fp-testimonial {
	margin-bottom: 1rem;
}
.fp-testimonial .quote-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	line-height: 2;
	padding: 1rem 2rem 0;
}

/*********** Frontpage Galleries ***************/
/* fluid 3 columns */
.fp-gallery-item {
	width: 100%;
	height: 250px;
	padding: 20px;
}
#fp-gallery-grid .gallery-inner {
	height: 89%;
	overflow: hidden;
	position: relative;
}
.gallery-inner::before {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -65%;
    left: 63px;
    background: rgba(255, 238, 198,.4);
    background: rgba(255, 249, 198, 0.4); /*less red*/
    background: rgba(88, 61, 62, 0.5); /*mink brown*/
    background: rgba(60, 46, 61, 0.4); /*purple*/
    transform: rotate(23deg);
    transition: left .3s ease-in-out;
}
h3.image-title {
	color: #3C2E3D;
	color: #EEF7E3;
	color: #feffcf; /*more vanilla*/
	position: absolute;
	top: 15%;
	transform: rotate(-67deg);
	width: 200px;
	left: -2px;
	font-size: 1.75rem;
	transition: left .3s ease-in-out;	
}
.fp-gallery-item-last h3.image-title {
	top: 30%;
}
.fp-gallery-item:hover .gallery-inner::before {
	left: 200px;
	transition: left .3s ease-in-out;
}
.fp-gallery-item:hover h3.image-title {
	left: 140px;
	transition: left .3s ease-in-out;	
}

/* Portfolio Gallery Page */
#cb-gallery-grid {
	margin: 10px;
}
#cb-gallery-buttons {
	margin: 2rem 0;
	text-align: center;
	border: 2px solid #000;
	border-left: none;
	border-right: none;
}
#cb-gallery-buttons button {
	font-size: 1.7rem;
	line-height: 4;
	background: none;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
}
.cb-gallery-item,
.cb-gallery-spacer,
.cb-gallery-item--width-2 {
	width: 100%;
	padding: 10px;
}

/* Single Service Template */
.service-entry-header {
	position: relative;
	margin-bottom: 5rem;
}
.service-entry-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: auto;
	background: linear-gradient(
		to right, 
		rgba(255, 230, 255, 0),
		rgba(50, 50, 50, .4) 20%,
		rgba(50, 50, 50, .7) 50%,
		rgba(50, 50, 50, .4) 80%,
		rgba(255, 230, 255, 0) 100%
		);
	color: #FFEEC6;
	color: white;
	line-height: 1.5;
	min-width: 350px;
	font-size: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.bottom-images .row {
	padding-bottom: 2rem;
}
.single-service-block {
	height: calc(9 / 16 * 100vw);
	overflow: hidden;
}
.single-service-block.col-md-6 {
	height: calc(9 / 16 * 100vw / 2);
}
.single-service-block.col-md-4 {
	height: calc(9 / 16 * 100vw / 3);
}
.single-service-block img {
	width: 100%;
}

/* Single Block Template */
.block-element img {
	margin-left: auto;
	margin-right: auto;
}

/* Footer */

/* CTA Bar */
#cta-bar{
	padding-top: 17px;
	padding-bottom: 15px;
	background-color: #3C2E3D;
	max-height: 360px;
	text-align: center;
}
#cta-bar .slogan {
	color: #FFEEC6;
}

/* Sub-Footer */
#wrapper-footer {
	background-color: #6F6170;
	color: white;
}
#wrapper-footer a {
	color: white;
}
.site-footer {
	text-align: center;
	font-size: 16px;
}

/* Extra Small Devices */
@media(min-width: 450px) {
	/* Frontpage Hero */
	.hero-text {
		font-size: 1.5rem;
		min-width: 350px;
	}
}
/* Medium Devices */
@media(min-width: 576px) {

	/* Utilities */
	h1 {
		font-family: 'Lora', serif;
		font-size: 60px;
	} 
	/* Frontpage Hero */
	.bounce {
		display: block;
		-webkit-animation: bounce 6s infinite;
		animation: bounce 6s infinite;
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		z-index: 2;
		cursor: pointer;
	}
	.scroll-icon {
		background-color: #FFEEC6;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		display: table;
	}
	.scroll-icon i.fa {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #333;
	}
/*.scroll-icon .action-arrow {
	border: solid 2px white;
	border-top: none;
	border-left: none;
	transform: rotate(45deg) translate(-50% ,-30%);
	position: absolute;
	top: 50%;
	left: 50%;
}*/
	/* Frontpage Services */
	.fp-service-item .service-header {
		font-size: 35px;
	}
	/* Frontpage Gallery */
	.fp-gallery-item {
		width: 50%;
		height: 250px;
		padding: 20px;
	}
}
@media(min-width: 768px) {	
	/* Frontpage Hero */
	.slogan.cta-span-1,
	.slogan.cta-span-2{
		font-family: 'Lora', serif;
		font-size: 44px;
	}
	.slogan.cta-line-3 {
		font-size: 28px;
		margin-top: 15px
	}
	.slogan.cta-span-1 {
		margin-right: 70px;
	}
	/* Medium Frontpage Welcome */
	#frontpage-welcome-text {
		max-width: 65%;
		padding: 2.5% 2.5% 1% 2.5%;
		font-size: 22px;
	}
	#frontpage-welcome-text span {
		font-size: 40px;
		line-height: 0.75;
		font-family: "Lora", serif;
	}
	/*----- Frontpage Services */
	/*approximate vertical centering*/
	.fp-service-item img {
		top: -20%;
	}
	.fp-service-item--width2 { 
		width: 66.66667%; 
		height: 240px;
	}
	.fp-service-item--height2 {
		width: 33.33333%;
		height: 440px;
	}
	/*constrain tall images to top and bottom and remove top-offset*/
	.fp-service-item--height2 img {
		height: 100%;
		width: auto;
		top: 0;
	}
	.fp-service-item--width1 {
		width: 33.33333%;
		height: 200px;
	}
	.fp-service-item .service-header {
		font-size: 38px;
	}
	/*----- Frontpage Testimonials */
	.fp-testimonial .quote-text {
		padding-top: 3rem;
	}
	/*----- Frontpage Gallery */
	.gallery-sizer,
	.fp-gallery-item {
		width: 33.33333%;
		height: 320px;
		padding: 20px;
	}
	/*----- Medium Block Template*/
	.block-container {
		display: flex;
	}
	.block-row:nth-child(odd) {
		flex-direction: row-reverse;
	}
	.block-element {
		height: 480px;
		overflow: hidden;
		padding-right: 0;
		padding-left: 0;
	}
	.block-element p {
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	}
	h1.block-header {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
} /*end min-width: 768px*/

@media(min-width: 768px) and (max-width: 1011px){
	#fp-gallery-grid .gallery-inner {
		height: 55%;
	}
	.fp-gallery-item:hover .gallery-inner::before {
		left: 140px;
		transition: left .3s ease-in-out;
	}
	.fp-gallery-item:hover h3.image-title {
		left: 85px;
		transition: left .3s ease-in-out;	
	}
}

@media(min-width: 1012px) and (max-width: 1199px){
	#fp-gallery-grid .gallery-inner {
		height: 77%;
	}
	.fp-gallery-item:hover .gallery-inner::before {
		left: 180px;
		transition: left .3s ease-in-out;
	}
	.fp-gallery-item:hover h3.image-title {
		left: 120px;
		transition: left .3s ease-in-out;	
	}
} /*end (min-width: 1012px) and (max-width: 1199px)*/

/* Large Devices */
@media(min-width: 992px) {

	/* Utilities */
	h1 {
	font-family: 'Lora', serif;
	font-size: 50px;
	} 
	h2 {
		font-family: 'Cormorant Garamond', serif;
		font-size: 45px;
	}
	h3 {
		font-size: 30px;
	}
	h1.navbar-brand {
		font-size: 30px;
	}
/* Large Frontpage Hero */
	#hero {
		width: 100vw;
		height: calc(100vh - 83px);
	}
	.admin-bar #hero {
		height: calc(100vh - 115px);
	}
	.header-content .slogan {
		font-size: 45px;
		width: auto;
		width: 700px;
		line-height: 1.5;
		padding: 0 45px;
	}

	/* Large Frontpage Testimonial */
	/* force testimonials into two columns*/
	.fp-testimonial {
		max-width: 50%;
	}
	/* Portfolio Gallery Page */
	#cb-gallery-grid {
		height: 80vh;
	}
	/* Large Single Service Template */
	.service-entry-header {
		height: 50vh;
		overflow:hidden;
	}
	.service-entry-title {
		font-size: 91px;
		padding-left: 35px;
		padding-right: 35px;
		width: 70%;
	}
	/* fluid 5 columns */
	.cb-gallery-spacer,
	.cb-gallery-item { 
		width: 33.33333%; 
	}
	/* 2 columns wide */
	.cb-gallery-item--width2 { 
		width: 33.33333%; 
	}
	/* photo menu */
	.cb-gallery-item.photo-menu {
		width: 33.33333%;
	}
}
@media(min-width: 1200px) {
	.fp-testimonial p {
		padding-left: 3rem;
		padding-right: 3rem;
	}	
} /*end min-width 1200px*/

@media(min-width: 1268px){
	h3.image-title {
		top: 40%;
		left: -20px;
		font-size: 2.1rem;
	}
	#fp-gallery-grid .gallery-inner {
		height: 100%;
	}
	.fp-gallery-item:hover .gallery-inner::before {
		left:290px;
		transition: left .3s ease-in-out;
	}
	.fp-gallery-item:hover h3.image-title {
		left: 223px;
		transition: left .3s ease-in-out;	
	}
} /*end min-width 1268px*/
